@charset"UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #390fac;
    font: normal 15px Arial ;
}
header {
    
    color: white;
    padding: 10px 0;
    text-align: center;
}
div{
    text-align: center;
    
}
section {
    margin: auto;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    width: 500px;
}
footer {
    
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}